# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.mp3
*.mp4
*.flv
*.dylib
*.p12
log
mp3s
ffmpeg
*ffmpeg*
.DS_Store
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
main
# Dependency directories (remove the comment below to include it)
# vendor/
